apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment
  namespace: iris-classifier   # changed from 'default'
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      serviceAccountName: telemetry-access
      containers:
      - name: iris-api-container
        image: us-central1-docker.pkg.dev/exalted-point-473314-c5/mlops-repo-2025/iris-api:latest
        ports:
        - containerPort: 8200
        readinessProbe:
          httpGet:
            path: /ready_check
            port: 8200
          initialDelaySeconds: 10
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /live_check
            port: 8200
          initialDelaySeconds: 20
          periodSeconds: 20
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "512Mi"
        env:
        - name: MODEL_PATH
          value: "/app/model/model.joblib"
