apiVersion: apps/v1
kind: Deployment
metadata:
  name: iris-api-deployment
  namespace: iris-classifier
  labels:
    app: iris-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: iris-api
  template:
    metadata:
      labels:
        app: iris-api
    spec:
      containers:
      - name: iris-api-container
        image: us-central1-docker.pkg.dev/exalted-point-473314-c5/mlops-repo-2025/iris-api:latest
        ports:
        - containerPort: 8200
        readinessProbe:
          httpGet:
            path: /
            port: 8200
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          httpGet:
            path: /
            port: 8200
          initialDelaySeconds: 30
          periodSeconds: 20
